<%= form_with model: [@inventory, @inventory_food], local: true do |form| %>
  <% if inventory_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory_food.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% inventory_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.select(:food_id, options_from_collection_for_select(@foods, :id, :name), {prompt: 'Select from Food list'}, {required: true}) %>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit "Add Item"  %>
  </div>
<% end %>
