<p style="color: green"><%= notice %></p>

<h1>Inventories</h1>

<div id="inventories">
  <% if @inventories.any? %> 
    <ul>
      <% @inventories.each_with_index do |inventory, index| %>
        <li>
          <%= index + 1 %>
          <%= render inventory %>
          <p>
            <%= link_to "Show this inventory", inventory %>
          </p>
          <%= button_to "Destroy this inventory", inventory, method: :delete %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h4>No inventories yet</h4>
  <% end %>  
</div>

<%= link_to "New inventory", new_inventory_path %>
