<p style="color: green"><%= notice %></p>

<h1>Inventories</h1>

<div id="inventories">
  <ul>
    <% @inventories.each_with_index do |inventory, index| %>
      <li>
        <%= index + 1 %>
        <%= render inventory %>
        <p>
          <%= link_to "Show this inventory", inventory %>
        </p>
      <% end %>
      </li>
  </ul>
</div>

<%= link_to "New inventory", new_inventory_path %>
