<% if current_user %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'signin', new_user_session_path %>
  <%= link_to 'signup',  new_user_registration_path %>
<% end %>

<h1> Food </h1>
<p id="notice"><%= notice %></p>

<div class="food-page">
  <div class="add-food">
    <%= link_to 'Add Food', new_food_path %>
  </div>
  <table class="food-table">
    <thead class="food-table-head">
      <tr>
        <th>N</th>
        <th>Name</th>
        <th>Measurement Unit</th>
        <th>Price</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody class="food-table-body">
      <% @food.each_with_index do |food, index|%>
        <tr>
          <td><%= index+=1 %></td>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td>$<%= food.price %></td>
          <td>
          <%= button_to "Delete", food, method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
